.DS_Store
*.pyc
*.ipc
*.pid
*.sqlite
*.db
*.ini
*.swp
*.conf
start.sh
stop.sh
*.jsongit/
data/mongo/*
log/*
todos.txt
bin/*
client/static/js/*
!client/js/build/openscrape.main.js
!client/js/build/require.js
