body {
    font-family: Helvetica, sans-serif;
    margin: 0px;
}

div#alert {
    padding: 2em;
    background: white;
    font-size: 1.1em;
    position: absolute;
    margin-left: 20%;
    margin-right: 20%;
}

div#map {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

div.marker .visual {
    position: absolute;
    width: 10000px;
    height: 10000px;
    left: -5000px;
    top: -5000px;
}

div#mouse {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid black;
    padding: .5em;
    border-radius: .5em;
    box-shadow: 3px 3px 5px black;
}

input#lookup {
    position: absolute;
    width: 20em;
    height: 1.8em;
    border: 1px solid black;
    border-radius: .5em;
    right: 1em;
    top: 1em;
    z-index: 100;
}

input#download {
    position: absolute;
    right: 0px;
    top: 0px;
}

input#reset {
    position: absolute;
    right: 0px;
    top: 0px;
}

.loading {
    background: url('images/loading.gif') center no-repeat !important;
}
