body {
    font-family: Helvetica, sans-serif;
    margin: 0px;
}

div#alert {
    padding: 2em;
    background: white;
    font-size: 1.1em;
    position: absolute;
    margin-left: 20%;
    margin-right: 20%;
}

div#map {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

div#gMap {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

div.marker .visual {
    position: absolute;
    width: 10000px;
    height: 10000px;
    left: -5000px;
    top: -5000px;
}

div#mouse {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid black;
    padding: .5em;
    border-radius: .5em;
    box-shadow: 3px 3px 5px black;
}

input#lookup {
    position: absolute;
    width: 200px;
    height: 1.8em;
    border: 1px solid black;
    border-radius: .5em;
    left: 80px;
    top: 1em;
    z-index: 100;
}

input#toggle {
    position: absolute;
    top: 1em;
    left: 290px;
    width: 90px;
    z-index: 100;
    border: 1px solid black;
}

input#clear {
    position: absolute;
    top: 1em;
    left: 390px;
    width: 90px;
    z-index: 100;
    border: 1px solid black;
}

.loading {
    background: url('images/loading.gif') center no-repeat !important;
}

div.warning {
    padding: 1em;
    text-align: center;
    border: solid black;
    border-width: 0px 0px 1px 0px;
}

div.prompt {
    padding: 1em;
    text-align: center;
    border: solid black;
    border-width: 0px 0px 1px 0px;
}