/* Illustrator doesn't support class names to style paths?  This works instead. */
path {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
    filter: url(#dropshadow);
}

.foreign div {
    display: inline-block;
    max-width: 100px;
    background: rgba(255,255,255,.5);
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 3px 3px 6px black;
    -moz-box-shadow: 3px 3px 6px black;
    -webkit-box-shadow: 3px 3px 6px black;
}

.foreign div div {
    display: block;
    border: none;
    padding: .5em;
    box-shadow: none;
}