/* Illustrator doesn't support class names to style paths?  This works instead. */
path {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
    filter: url(#dropshadow);
}

.foreign div.node {
    background: rgba(255,255,255,.75);
    border: 1px solid black;
    padding: .5em;
    border-radius: 3px;
    display: inline-block;
    box-shadow: 3px 3px 6px black;
    -moz-box-shadow: 3px 3px 6px black;
    -webkit-box-shadow: 3px 3px 6px black;
}

.foreign div.node div {
    max-width: 100px;
}
