/* Illustrator doesn't support class names to style paths?  This works instead. */
path {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
/*    filter: url(#dropshadow);*/
}

.mask {
    fill: white;
    fill-opacity: 0;
}

.background {
    fill: white;
    stroke: black;
    stroke-width: 1.5px;
/*    filter: url(#dropshadow);*/
}

.node div {
    display: inline-block;
    max-width: 640px;
}
.node div iframe {
    border: 0px;
}

.node div.wait {
    cursor: pointer;
}

.node div.missing {
    cursor: pointer;
}

.node div.hidden {
    cursor: pointer;
}

.node div.page.hidden {
    cursor: pointer;
}

.node div.wait:hover {
}

.node div.missing:hover {
}

.node div.hidden:hover {
}

.node div.page.hidden:hover {
}
