{{#nameIsHTML}}
  <iframe class="match value" width="{{iframeWidth}}" height="{{iframeHeight}}" sandbox src="{{nameAsDataURI}}"></iframe>
{{/nameIsHTML}}
{{^nameIsHTML}}
<div class="match value">
  {{name}}
</div>
{{/nameIsHTML}}
