<div id="header">
    <div>
        <a class="pushState" href="/">Openscrape</a> {{version}}
        :: scraping templates visualized 
        :: <a class="help pushState" href="/help">help</a>
        :: <a class="login pushState" href="/login">Login</a>
        :: <a class="signup pushState" href="/signup">Sign Up</a>
    </div>
</div>
