<div id="header">
  <div><a href="/">Openscrape</a> {{version}} :: scraping templates visualized :: <a class="toggleHelp" href="javascript:(function(){})();">help</a></div>
</div>
<div id="help" class="help">
  <p>Openscrape provides an interface to visualize <a href="http://en.wikipedia.org/wiki/Data_scraping">screenscraping</a> with <a href="http://www.github.com/talos/caustic">Caustic</a> templates.</p>
  <p>Click on the map or enter an address to start.  Click on blue-bordered nodes to expand or contract them.</p>
  <p>Currently only New York addresses are supported.</p>
  <p>Openscrape only works with webkit browsers right now.  This is <a href="http://www.glazman.org/weblog/dotclear/index.php?post%2F2012%2F02%2F09%2FCALL-FOR-ACTION%3A-THE-OPEN-WEB-NEEDS-YOU-NOW">not good</a>.  Firefox and Opera support is coming ASAP.</p>
  <p><a href="javascript:(function(){})();" class="toggleHelp">Hide</a></p>
</div>
<div id="editor"></div>
<div id="map"></div>
<div id="mouse"></div>
<div id="visual"></div>
