<div id="pan">
  <div id="panUp"></div>
  <div id="panDown"></div>
  <div id="panLeft"></div>
  <div id="panRight"></div>
</div>
<div id="zoom">
  <div id="reset"></div>
  <div id="zoomIn"></div>
  <div id="zoomOut"></div>
</div>