<p>Openscrape provides an interface to visualize <a href="http://en.wikipedia.org/wiki/Data_scraping">screenscraping</a> with <a href="http://www.github.com/talos/caustic">Caustic</a> templates.</p>
<p>Click on the map or enter an address to start.  Click on blue-bordered nodes to expand or contract them.</p>
<p>Currently only New York addresses are supported.</p>
