<form action="/oauth/login" method="POST">
    <label for="user">Enter your username or email address to login.  You will be redirected to the appropriate login page depending on your account type.</label>
    <input type="text" name="user" />
    <input type="submit" value="login" />
</form>
