<div title="Instruction" class="tab">
  {{instruction}}
</div>
<div title="Tags" class="tab">
  {{#tagsArray}}
    <div>{{name}}: {{value}}</div>
  {{/tagsArray}}
</div>
<div title="Cookies" class="tab">
  {{#cookiesArray}}
    <div>{{host}}
      {{#cookies}}
        <div>{{.}}</div>
      {{/cookies}}
    </div>
  {{/cookiesArray}}
</div>